@{
    ViewData["Title"] = "Home Page";
}

@model Codecool.CodecoolShop.Controllers.OrderHisotryModel

<div class="container">

    @if (Model.order.Count == 0)
    {
        <h1>Your order history is empty.</h1>
    }
    @if (Model.order.Count > 0)
    {
        @foreach (var order in Model.order)
        {
            <div style="border: 1px solid gray; margin-bottom: 20px; padding: 10px;">
                <p>Order @order.Id</p>
                <p>Biling Info</p>
                <p>@order.Address.FullName</p>
                <p>@order.Address.Email</p>
                <p>@order.Address.Phone</p>
                <p>@order.Address.Street</p>
                <p>@order.Address.City @order.Address.Zip</p>
                <p>@order.Address.Country</p>
                <hr/>
                @foreach (var element in Model.products.Where(p => p.Order.Id == order.Id))
                {
                    <div style="display: flex;">
                        <img src="/img/@(element.Name).jpg" style="height: 50px; margin-top: 15px; width: 50px;">

                        <div style="padding-left: 20px;">
                            <p>@element.Name</p>
                            <p style="margin-top: -15px;">Price: @element.Price @element.Currency</p>
                            <p style="margin-top: -15px;">Quantity: @element.Quantity</p>
                        </div>
                    </div>
                    <hr/>
                }
                <div>
                    <b>Total products:</b> @Model.products.Where(p => p.Order.Id == order.Id).Sum(p => p.Quantity)
                    <br/>
                    <b>Total price:</b> @Model.products.Where(p => p.Order.Id == order.Id).Sum(p => p.Quantity * p.Price) @Model.products[0].Currency
                    <br/>
                </div>
            </div>
        }
    }
</div>